<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="friends">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab Friends</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-display">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tab List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="display-shared-lists">
      <ion-icon name="list"></ion-icon>
      <ion-label>Tab Shared List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
