<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title *ngIf="user" (click)="seeProfile()" style="cursor: pointer;">
      {{user.displayName}}'s lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding fulscreen>
  <ion-searchbar [(ngModel)]="query" (ionChange)="queryByName()"></ion-searchbar>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of list" #slidingItem>
      <ion-item [routerLink]="'/tabs/display-list-items/' + item.uuid">{{item.name}} {{nbNotCompleted(item.uuid)}} items
        not
        finished !</ion-item>
      <ion-item-options side="end">
        <button ion-button color="primary" (click)="delete(item, slidingItem)">
          <ion-icon name="text"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      <ion-item-options side="start">
        <button ion-button color="primary" (click)="edit(item, slidingItem)">
          <ion-icon name="text"></ion-icon>
          Edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button (click)="scanQR()">Scan Code</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>