<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row *ngIf="user" align-items-center>
      <ion-avatar (click)="seeProfile()" style="margin: 1px !important;cursor: pointer;">
        <img [src]="user.photoURL">
      </ion-avatar>
      <ion-title (click)="seeProfile()" style="cursor: pointer;">
        {{user.displayName}}'s lists
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding fulscreen>
  <ion-searchbar [(ngModel)]="query" (ionChange)="queryByName()"></ion-searchbar>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of list" #slidingItem>
      <ion-item [routerLink]="'/tabs/display-list-items/' + item.uuid">{{item.name}} {{nbNotCompleted(item.uuid)}} items
        not
        finished !</ion-item>
      <ion-item-options side="end">
        <ion-button ion-button color="danger" (click)="delete(item, slidingItem)">

          Delete
        </ion-button>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-button color="primary" (click)="edit(item, slidingItem)">
          Edit
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button (click)="scanQR()">Scan Code</ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>