<ion-header *ngIf="list">
  <ion-toolbar class="new-background-color">
    <ion-row align-items-center justify-content-center>
      <ion-title>
        {{list.name}}
      </ion-title>
      <ion-button item-end (click)="presentPopover($event)">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="list">
  <ion-img *ngIf="list && list.photoURL" [src]="list.photoURL"
    style="display: block; margin-left: auto; margin-right: auto; width: 50%; height: 50%;"></ion-img>
  <ion-row align-items-center justify-content-center>
    <ion-button *ngIf="list.owner == user.uid" (click)="uploadImage()"
      style="display: block; margin-left: auto; margin-right: auto;">
      Upload image
    </ion-button>
  </ion-row>
  <ion-text color="dark">
    <h1>List items :</h1>
  </ion-text>
  <ion-list no-lines>
    <ion-item-sliding *ngFor="let item of todos" #slidingItem>
      <ion-item>
        <ion-checkbox (click)="changeCheck(item)" color="success" [(ngModel)]="item.complete"></ion-checkbox>
        <ion-label padding-start>{{item.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-button ion-button color="danger" (click)="delete(item, slidingItem)">
          Delete
        </ion-button>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-button color="primary" (click)="edit(item, slidingItem)">
          Edit
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row align-items-center justify-content-center>
    <ion-button *ngIf="!isSubscriber()" (click)="subscribeToList()">Subscribe to list</ion-button>
    <ion-button *ngIf="isSubscriber()" (click)="unsubscribeFromList()">Unsubscribe from list</ion-button>
  </ion-row>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="list && list.owner == user.uid">
  <ion-row align-items-center justify-content-center>
    <ion-item>
      <ion-toggle (ionChange)="changeShared()" color="success" [(ngModel)]="list.shared"></ion-toggle>
      <ion-label padding-start>Shared</ion-label>
    </ion-item>
  </ion-row>
</ion-footer>