<ion-header >
  <ion-toolbar class="new-background-color">
    <ion-row *ngIf="user" align-items-center>
      <ion-back-button></ion-back-button>
      <ion-avatar style="margin: 1px !important;">
        <img [src]="user.photoURL">
      </ion-avatar>
      <ion-title>
        {{user.displayName}}
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="user">
  <ion-avatar style="height: 12rem; width: 12rem; margin: auto;">
    <img [src]="user.photoURL">
  </ion-avatar>
  <ion-row center>
    <ion-col text-center>
      <ion-text>{{user.email}}</ion-text>
    </ion-col>
  </ion-row>
  <ion-row center>
    <ion-col text-center>
      <ion-button style="text-align:center;" (click)="logOut()">Log out</ion-button>
    </ion-col>
  </ion-row>
</ion-content>